<template>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   inkscape:version="1.0 (4035a4fb49, 2020-05-01)"
   sodipodi:docname="hots.svg"
   id="svg80"
   version="1.1"
   viewBox="0 0 96.10907 63.271478"
   height="63.271477mm"
   width="96.10907mm">
  <sodipodi:namedview
     inkscape:current-layer="svg80"
     inkscape:window-maximized="1"
     inkscape:window-y="-8"
     inkscape:window-x="-8"
     inkscape:cy="25.590379"
     inkscape:cx="181.62344"
     inkscape:zoom="0.85126516"
     fit-margin-bottom="0"
     fit-margin-right="0"
     fit-margin-left="0"
     fit-margin-top="0"
     showgrid="false"
     id="namedview12"
     inkscape:window-height="705"
     inkscape:window-width="1366"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0"
     guidetolerance="10"
     gridtolerance="10"
     objecttolerance="10"
     borderopacity="1"
     bordercolor="#666666"
     pagecolor="#ffffff" />
  <defs
     id="defs74" />
  <metadata
     id="metadata77">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="matrix(0.37837992,0,0,0.37837992,4.57688,-7.5513583)"
     id="layer1">
    <g
       transform="translate(564.80794,179.19507)"
       id="g58">
      <rect
         y="-159.23785"
         x="-576.90393"
         height="167.21666"
         width="254"
         id="rect40-0"
         style="fill:#accbea;fill-opacity:1;stroke-width:0.522969" />
      <path
         id="path54-9-8-9-8"
         d="m -449.50927,-159.2378 h 126.60477 v 5.94968 5.94972 l -3.87275,-0.72657 c -2.7627,-0.51827 -4.14186,-0.30158 -4.81171,0.75612 -1.48926,2.35141 -1.14624,3.09076 1.4422,3.10837 3.04865,0.0219 4.43718,0.95153 6.08495,4.07898 1.07504,2.04045 1.00326,2.95388 -0.40042,5.09638 -0.94076,1.43568 -2.16507,2.61033 -2.72083,2.61033 -1.52093,0 -3.30886,3.91535 -2.61436,5.72519 0.33524,0.87384 2.02343,2.17442 3.75138,2.89012 1.89699,0.78579 3.14161,2.09996 3.14161,3.31703 0,2.4173 -0.37968,2.44458 -6.86466,0.49285 -5.02754,-1.51305 -5.08372,-1.50196 -8.76194,1.72751 -3.60033,3.1612 -3.7777,3.20076 -6.46292,1.44133 -2.62226,-1.71816 -5.80936,-1.60945 -5.80387,0.198 10e-4,0.46107 2.59386,2.19225 5.76102,3.84705 3.6051,1.88365 7.03844,4.79117 9.1815,7.77533 4.0253,5.605076 6.81951,7.344267 10.36854,6.453473 2.33755,-0.586677 2.58233,-0.312188 2.58233,2.896252 0,2.801665 -0.67551,3.94338 -3.22424,5.448936 -4.12642,2.437577 -6.07185,6.268974 -7.41369,14.601233 -1.98207,12.307312 -6.58004,16.892832 -19.91334,19.859202 -7.59327,1.689275 -8.29386,2.101529 -13.06809,7.689906 -2.77459,3.247635 -6.38309,6.596943 -8.01886,7.442861 -3.74391,1.936065 -9.25255,1.962489 -12.73705,0.06149 -9.53353,-5.202035 -8.874,-5.017026 -11.57591,-3.246647 -1.38586,0.908028 -3.88189,1.50811 -5.54676,1.333458 -1.66487,-0.174213 -4.26842,0.346961 -5.78564,1.158842 -2.51408,1.345535 -3.08379,1.22838 -6.42713,-1.321709 -2.8897,-2.204117 -3.82349,-3.831539 -4.39853,-7.666374 -0.89241,-5.950891 -0.53424,-6.592513 4.17246,-7.475471 3.2103,-0.602276 8.10311,-5.10179 8.10311,-7.451864 0,-0.330857 -1.40622,-2.203351 -3.12499,-4.160861 -1.71873,-1.957551 -3.2879,-4.956598 -3.48696,-6.664536 -0.33306,-2.854864 -0.86418,-3.205083 -6.58691,-4.342101 -5.0022,-0.993824 -6.77251,-0.952654 -9.01305,0.209709 -3.88756,2.016876 -6.28805,-0.361609 -7.18428,-7.117977 -0.77244,-5.822654 -1.6749,-6.4967 -8.69796,-6.4967 -8.11907,0 -12.18683,5.015785 -13.92178,17.166742 -1.65659,11.602043 -9.2079,18.337148 -21.43226,19.115504 -5.72533,0.364528 -7.30859,0.04062 -10.88392,-2.231274 -5.46889,-3.474258 -7.39327,-5.721123 -10.05675,-11.742468 -4.11148,-9.294526 -11.75619,-13.010387 -17.34436,-8.430426 -2.19195,1.796519 -2.35237,2.372264 -1.19174,4.277143 2.16781,3.557997 1.60265,7.233445 -1.48584,9.662861 -1.5549,1.223 -3.76296,2.223697 -4.90684,2.223697 -2.44066,0 -2.27822,3.109181 0.22325,4.275709 4.94958,2.308132 5.9322,3.126271 6.24059,5.19618 0.20129,1.352488 -1.09516,4.06398 -3.18996,6.670689 -3.14728,3.916303 -3.90112,4.322227 -6.96158,3.74802 -1.92297,-0.360502 -3.73268,-0.157376 -4.11563,0.461992 -2.01321,3.257554 -13.04818,-2.580064 -12.05517,-6.377273 0.26901,-1.027633 0.0329,-2.686459 -0.52878,-3.68635 -1.23878,-2.21356 0.67342,-4.924357 3.47367,-4.924357 1.05212,0 3.83527,-1.606049 6.18476,-3.569014 4.8038,-4.0134 4.67593,-5.249721 -1.10475,-10.684388 -2.61531,-2.458802 -3.03817,-3.503603 -2.38847,-5.901115 0.4343,-1.602319 0.7108,-4.451243 0.61454,-6.330943 -0.10289,-2.00846 0.53219,-3.999234 1.54018,-4.828183 0.94338,-0.775753 2.54643,-2.134644 3.56234,-3.019831 4.90715,-4.275528 5.33266,-4.461822 7.51892,-3.291773 1.32207,0.707531 2.27559,2.487507 2.48264,4.634341 l 0.33635,3.485532 8.04692,0.601732 c 9.50059,0.710382 13.23861,2.454187 18.02203,8.407212 4.21125,5.241091 7.4583,6.186196 4.98877,1.452076 -0.84654,-1.622846 -1.54214,-3.554116 -1.54578,-4.291702 -0.001,-0.737654 -0.83193,-1.341177 -1.84074,-1.341177 -1.00883,0 -3.92993,-2.28266 -6.4914,-5.072589 -3.54563,-3.861948 -4.87415,-4.721489 -5.56642,-3.601399 -0.55056,0.890863 -1.84789,1.22582 -3.28855,0.849059 -1.30864,-0.342574 -3.29097,-0.05275 -4.40523,0.643054 -2.46295,1.538118 -5.57766,-0.04394 -6.15274,-3.125878 -0.61571,-3.299018 -3.49571,-5.786042 -6.70044,-5.786042 -2.97625,0 -6.33205,-3.253943 -6.33205,-6.139793 0,-1.89145 3.73464,-1.72521 5.36457,0.23827 0.73459,0.88516 1.94167,1.60938 2.68229,1.60938 0.7407,0 1.9477,0.72423 2.68233,1.60941 0.73462,0.88512 2.93189,1.60931 4.88285,1.60931 1.95096,0 4.30594,0.758741 5.23326,1.68605 1.53273,1.532746 1.68601,1.480915 1.68601,-0.570135 0,-2.689975 3.05779,-4.185285 4.33449,-2.119575 0.7292,1.17988 1.32182,1.07232 3.13583,-0.56938 1.52553,-1.38056 1.88749,-2.37335 1.13842,-3.12242 -1.74309,-1.74308 -1.28244,-3.5894 1.04757,-4.19875 2.49373,-0.65212 2.90986,-2.90788 0.53647,-2.90788 -0.88514,0 -1.60941,0.47978 -1.60941,1.06621 0,0.58636 -2.00369,2.51763 -4.45266,4.29167 -3.71732,2.69282 -5.46881,3.22549 -10.60581,3.22549 -5.33215,0 -6.38108,-0.3477 -7.86145,-2.60719 -0.93958,-1.43396 -3.15998,-3.4647 -4.9342,-4.5128 -6.68902,-3.95128 -7.99305,-13.20432 -2.74977,-19.51153 4.0989,-4.93047 4.7863,-6.99924 3.79153,-11.41 -1.28609,-5.70227 -3.30334,-7.30061 -9.8807,-7.82867 -8.1896,-0.65746 -11.9954,2.18338 -17.48942,13.05511 -4.45359,8.81262 -7.57737,11.99838 -12.60688,12.8568 -2.44212,0.41683 -2.95052,0.11529 -2.95052,-1.75006 0,-1.23944 0.31915,-1.93427 0.70948,-1.54408 0.39014,0.39025 2.47663,-1.09842 4.6365,-3.30818 3.01687,-3.08652 4.36259,-5.75827 5.80655,-11.52814 1.03374,-4.1307 3.14171,-9.16592 4.68433,-11.18935 2.17326,-2.8506 2.37738,-3.51488 0.90665,-2.95052 -1.04397,0.40044 -2.58286,0.72837 -3.41977,0.72837 -0.90996,0 -1.52161,1.08407 -1.52161,2.69689 0,1.48325 -0.4265,3.53523 -0.94774,4.5599 -1.98229,3.89676 -3.24196,7.34521 -3.88688,10.6405 -0.68822,3.51656 -1.84069,4.8849 -5.0899,6.04323 -1.46957,0.52385 -1.87761,0.0802 -1.87761,-2.04261 0,-1.49156 0.42872,-2.44702 0.95279,-2.12311 0.524,0.32389 1.16454,-0.85471 1.42352,-2.61901 0.62897,-4.28534 -0.23533,-9.76911 -1.42352,-9.03461 -0.52407,0.32391 -0.95279,0.10579 -0.95279,-0.48409 0,-0.59009 0.48278,-1.3713 1.0729,-1.73602 0.59014,-0.36451 1.07292,-1.5439 1.07292,-2.62047 0,-1.11861 1.03455,-2.24089 2.41412,-2.61896 1.85821,-0.50928 2.07734,-0.87872 0.95146,-1.60466 -1.23478,-0.79621 -1.23478,-1.03363 0,-1.52469 0.8262,-0.32866 0.38445,-0.61848 -1.01481,-0.66636 -1.39451,-0.0475 -2.18755,0.38422 -1.81427,0.98826 0.36453,0.59008 0.18739,1.07286 -0.39453,1.07286 -0.58168,0 -1.27838,0.84496 -1.54826,1.87766 -0.27011,1.03268 -0.54669,0.30816 -0.61513,-1.60939 l -0.12438,-3.48703 z m -105.951,1.78352 c 0.73761,-0.29792 0.1343,-0.54115 -1.34115,-0.54115 -1.47528,0 -2.0788,0.24337 -1.34118,0.54115 0.73763,0.29792 1.9447,0.29792 2.68233,0 z m 26.59466,1.75719 c -0.0652,0.42606 0.44775,2.66594 1.14028,4.97747 1.20171,4.01095 0.58765,9.23084 -1.8257,15.51991 -0.60116,1.56663 -0.34295,1.62761 2.12652,0.5024 1.83629,-0.83665 2.81071,-2.12894 2.81071,-3.72741 0,-3.38967 1.76072,-4.14548 4.8863,-2.09751 2.03315,1.33219 3.14746,1.46541 4.811,0.57513 2.60039,-1.39173 1.86291,-3.21327 -0.99809,-2.46512 -2.1512,0.56258 -7.93945,-3.64868 -7.03236,-5.11639 0.2862,-0.46338 0.0848,-2.78319 -0.44828,-5.15515 -0.67994,-3.02621 -0.60615,-4.46158 0.24741,-4.8121 0.66901,-0.27487 -1.1977,-0.50383 -4.14822,-0.50891 -3.26847,-0.003 -4.59995,0.29206 -3.40762,0.76188 1.07635,0.42418 1.90349,1.11976 1.83805,1.5458 z m -0.14968,36.15737 c 0.48819,0 2.71027,1.44844 4.93789,3.21879 4.76431,3.78619 8.07318,4.04063 12.99402,0.99938 1.97507,-1.22062 5.88351,-2.47148 8.68541,-2.77957 6.59273,-0.72496 10.32227,-4.22831 10.43075,-9.79813 0.063,-3.21854 -0.48644,-4.33485 -2.87304,-5.84091 -1.66462,-1.0504 -2.95053,-2.82712 -2.95053,-4.07672 0,-3.64323 -3.20613,-8.98764 -4.57224,-7.62157 -0.84581,0.84587 -0.67162,1.7225 0.62779,3.15826 0.98924,1.09315 1.7986,2.31157 1.7986,2.70768 0,1.45892 -5.79414,0.66409 -7.69418,-1.05549 -1.82576,-1.65223 -1.9621,-1.65223 -1.9621,0 0,0.97669 0.43048,1.77572 0.95661,1.77572 0.52614,0 1.25919,1.20559 1.62902,2.67915 0.58981,2.34985 0.92967,2.51847 2.7656,1.37188 1.81037,-1.13059 2.54437,-0.84573 5.43304,2.10897 1.83696,1.87882 3.01732,3.9381 2.623,4.57607 -0.39417,0.63807 -0.1508,1.84196 0.54067,2.67544 2.05623,2.47751 0.3735,3.49464 -5.32731,3.22055 -3.50979,-0.16872 -5.79417,0.25107 -6.59097,1.21115 -1.61312,1.94364 -4.17554,1.87842 -4.17554,-0.10647 0,-0.97343 -0.62731,-1.33495 -1.64133,-0.94584 -1.03778,0.39839 -1.40512,1.3742 -0.99895,2.65397 0.98226,3.09479 -2.38117,3.78275 -5.26209,1.07627 -1.33579,-1.25484 -3.18358,-2.2816 -4.10624,-2.2816 -0.92264,0 -2.37494,-1.05021 -3.22722,-2.33383 -2.09391,-3.15364 -5.83001,-2.01507 -4.08525,1.24501 0.63632,1.18896 1.55638,2.16173 2.04459,2.16173 z m -0.96312,-9.65627 c 0.59009,0 1.07291,-0.48278 1.07291,-1.07296 0,-0.59005 -0.48282,-1.0729 -1.07291,-1.0729 -0.59012,0 -1.07297,0.48285 -1.07297,1.0729 0,0.59018 0.48285,1.07296 1.07297,1.07296 z m 13.36411,-26.74634 c -0.33854,0.54793 0.16543,0.99623 1.12034,0.99623 0.9548,0 1.43762,-0.48285 1.07291,-1.07291 -0.3649,-0.59017 0.0897,-1.07295 1.00958,-1.07295 0.92,0 1.61553,0.36234 1.54567,0.80468 -0.34953,2.21316 0.28511,3.48704 1.73645,3.48704 1.9341,0 2.18407,-3.14974 0.26791,-3.37998 -0.73766,-0.0886 0.83149,-0.49889 3.48696,-0.91174 3.79878,-0.5906 2.76935,-0.75382 -4.82814,-0.76568 -5.31095,-0.007 -8.56283,0.19507 -7.22627,0.45204 1.33649,0.25655 2.15292,0.91538 1.81426,1.46327 z m -1.02548,31.19896 c 0.56059,0 1.19223,-0.51905 1.4037,-1.15343 0.21117,-0.63433 -0.42023,-1.15338 -1.4037,-1.15338 -0.98356,0 -1.61522,0.51905 -1.40379,1.15338 0.21117,0.63438 0.84316,1.15343 1.40379,1.15343 z m 13.07923,-0.16104 c 2.11192,0 1.17699,-2.58804 -1.09403,-3.02848 -1.24473,-0.24155 -1.58896,0.16434 -1.13743,1.34115 0.35611,0.92801 1.36025,1.68733 2.23146,1.68733 z m 2.96757,-24.71621 c 1.95265,1.62054 3.36461,0.77862 5.44678,-3.24782 1.8532,-3.58364 1.17465,-3.85742 -3.62556,-1.46272 -3.76426,1.87783 -4.12141,2.80156 -1.82122,4.71054 z m 3.53395,39.17346 c 2.58685,2.23758 2.72237,2.6409 1.09948,3.27187 -1.74534,0.67862 -1.74709,0.91293 -0.0329,4.10216 1.73089,3.215969 1.83918,3.260404 2.20254,0.90265 0.21008,-1.36377 1.0299,-2.72818 1.82162,-3.03204 1.81752,-0.69743 7.1041,2.68785 6.73141,4.31056 -0.32207,1.401822 4.07917,6.130267 4.92169,5.287778 0.30925,-0.309626 -0.007,-1.477953 -0.7075,-2.596569 -1.58103,-2.531569 0.14164,-5.750149 3.12935,-5.847789 1.11232,-0.0366 2.92705,-0.47311 4.03276,-0.97051 1.43334,-0.64465 2.29564,-0.39472 3.00384,0.87085 0.54638,0.97636 1.57292,1.78107 2.28124,1.78842 0.70833,0.007 2.42923,1.77426 3.82418,3.926661 l 2.53629,3.913339 -2.53629,1.950526 c -3.10795,2.390221 -4.03409,2.46478 -4.8306,0.389089 -1.1128,-2.899805 -2.20799,-1.687484 -1.97299,2.183803 0.2895,4.769864 1.07789,5.596678 2.60872,2.736225 1.21931,-2.278334 4.34082,-3.115947 4.34082,-1.164801 0,2.450428 1.94818,0.788605 3.744,-3.193797 l 1.92398,-4.26663 -5.03224,-5.890395 c -5.07845,-5.94435 -10.23203,-10.25343 -12.26288,-10.25343 -0.60686,0 -1.41965,0.99686 -1.8064,2.21532 -0.86597,2.72847 -4.69366,4.30868 -7.22439,2.98246 -1.03507,-0.54239 -3.59881,-2.70311 -5.69723,-4.80153 -2.99224,-2.99224 -4.38016,-3.6736 -6.43331,-3.15826 -3.30857,0.83034 -3.27863,1.22045 0.3327,4.34415 z m 1.34119,22.022071 c 0.59008,0 1.0729,0.965642 1.0729,2.145856 0,1.453311 0.7153,2.145842 2.21638,2.145842 1.21902,0 3.18878,0.520452 4.37728,1.156467 1.90483,1.019444 2.11898,0.861373 1.80704,-1.334262 -0.25766,-1.812277 -1.23046,-2.642837 -3.57253,-3.049088 -2.40844,-0.41778 -3.22688,-1.147969 -3.251,-2.90026 -0.0431,-3.116718 -1.45185,-4.386064 -2.69198,-2.425179 -1.31929,2.086077 -1.29789,4.260624 0.0421,4.260624 z m 12.07036,-68.963721 c 1.91783,-0.23789 0.34879,-0.43274 -3.48703,-0.43274 -3.83568,0 -5.40483,0.19469 -3.48697,0.43274 1.91785,0.23826 5.05616,0.23826 6.974,0 z m 1.87761,87.68077 c 4.77485,0.555617 6.46834,0.302685 8.87349,-1.325957 3.41757,-2.31405 8.2932,-8.560852 8.2932,-10.625537 0,-2.174217 -1.92208,-1.650225 -2.67752,0.729899 -0.89104,2.807423 -6.73072,8.598387 -8.67062,8.598387 -0.8398,0 -1.52688,-0.70468 -1.52688,-1.565942 0,-1.701465 -5.471,-7.268656 -6.31432,-6.425327 -0.28438,0.284007 0.055,1.087873 0.75303,1.786189 0.69827,0.698315 1.26962,2.417084 1.26962,3.819569 0,2.200718 -0.47755,2.523774 -3.48703,2.359009 -8.16452,-0.446981 -5.45922,1.608724 3.48703,2.64971 z m -5.26202,-64.34878 c 1.71372,-0.5439 2.97907,0.14091 5.32103,2.87828 1.68992,1.97551 3.09218,4.43678 3.11619,5.46943 0.0601,2.58449 2.18945,2.38521 2.18945,-0.20496 0,-1.14545 0.52486,-2.40696 1.16639,-2.80343 0.64151,-0.39637 0.92826,-1.63156 0.63714,-2.74458 -0.29132,-1.11301 -0.0837,-2.2989 0.46054,-2.63536 1.14741,-0.70916 0.23387,-2.6092 -1.25451,-2.6092 -0.55529,0 -1.00956,0.77586 -1.00956,1.72419 0,1.22516 -0.54342,1.49746 -1.87762,0.94093 -6.19355,-2.58362 -7.6368,-2.94917 -9.22985,-2.33785 -2.64255,1.01402 -2.19577,3.17202 0.4808,2.32244 z m 4.4216,-9.96346 c 0.7699,-0.7699 0.83324,-1.26962 0.16103,-1.26962 -1.43213,0 -2.70099,1.26886 -1.98492,1.98489 0.30487,0.30524 1.12568,-0.0183 1.824,-0.71527 z m 11.15593,29.41827 c 3.3564,1.69817 7.06976,4.58703 8.38594,6.52393 3.86528,5.68833 7.64731,8.125548 11.34768,7.31282 4.50697,-0.98989 9.14571,0.25291 12.97779,3.477548 l 3.27737,2.757794 2.64143,-2.848634 c 1.5771,-1.700914 3.81269,-2.862378 5.54848,-2.882808 1.59896,-0.0219 3.84432,-0.743 4.98981,-1.60934 3.1442,-2.37814 6.62639,-1.89943 9.10513,1.25172 2.77546,3.528429 2.79006,4.911259 0.078,7.365749 -2.22051,2.009521 -2.85101,5.338635 -1.20396,6.356563 0.51805,0.320246 3.22464,-1.427182 6.01463,-3.883036 5.6882,-5.006915 8.30694,-4.758665 8.96592,0.849954 0.4857,4.134509 1.62954,4.68766 9.73342,4.707026 8.05334,0.0219 13.97234,2.946761 18.33392,9.067943 1.47528,2.070457 3.28581,3.777775 4.02346,3.793987 1.69049,0.03664 1.68544,-0.0219 -0.34,-4.083627 -0.92465,-1.853465 -1.37896,-3.858922 -1.00963,-4.45655 0.94342,-1.526452 6.27904,-1.35502 7.92334,0.254737 1.10614,1.082818 1.30249,0.72107 1.01929,-1.877579 -0.26461,-2.428375 -0.83138,-3.136856 -2.30803,-2.885232 -2.80188,0.477463 -4.89343,-1.646355 -4.20682,-4.271877 0.42228,-1.614785 0.16396,-2.105223 -0.91547,-1.737209 -0.96819,0.330481 -1.50386,2.110154 -1.50386,4.99748 0,7.181654 -2.23833,7.419766 -8.28804,0.881565 -3.96462,-4.284673 -5.36958,-5.225494 -6.09557,-4.08174 -0.63646,1.002749 -1.88703,1.249538 -3.8435,0.758494 -1.69316,-0.424929 -3.52151,-0.212285 -4.3932,0.511292 -2.1441,1.779412 -4.34609,0.565493 -5.20869,-2.871444 -0.88399,-3.522047 -3.44447,-5.7045 -6.74796,-5.751635 -1.34766,-0.02204 -3.16675,-1.220586 -4.17247,-2.755453 -0.98071,-1.496798 -4.34733,-3.934458 -7.48136,-5.417088 -3.7162,-1.75809 -5.50495,-3.19955 -5.14248,-4.14414 0.93614,-2.43945 -1.67116,-3.02785 -4.68025,-1.05622 -2.84471,1.8639 -2.8455,1.86861 -0.48925,2.74019 4.64119,1.71691 2.24551,5.23398 -3.56524,5.23398 -1.39217,0 -2.82964,0.48279 -3.19431,1.07296 -0.91308,1.477288 -4.55606,1.352729 -5.06472,-0.17313 -0.24338,-0.73037 -2.54204,-1.21392 -5.55419,-1.1684 -4.54888,0.0685 -5.07731,-0.15774 -4.60262,-1.97268 0.38927,-1.48909 -0.0256,-2.05048 -1.5092,-2.05048 -1.33012,0 -2.04542,0.75043 -2.04542,2.14585 0,1.33466 -0.7098,2.13967 -1.87762,2.12945 -3.22187,-0.0256 -4.84632,-1.68272 -4.06596,-4.14134 0.5046,-1.58984 0.26499,-2.27974 -0.79182,-2.27974 -2.6854,0 -4.72914,-3.5158 -4.0541,-6.97403 0.55346,-2.83527 1.00993,-3.1737 3.83129,-2.84064 1.76163,0.20825 3.44439,0.70687 3.73945,1.10881 0.67913,0.92512 6.79333,0.96164 7.51042,0.045 0.29535,-0.3773 2.30938,-1.01168 4.47628,-1.40998 4.29258,-0.78898 6.1805,0.59865 4.14739,3.04841 -0.76115,0.91708 -0.82732,1.70795 -0.17642,2.11014 0.57242,0.35391 1.80567,-0.88998 2.74048,-2.76383 1.5591,-3.12517 1.55397,-3.5681 -0.0618,-5.35348 -1.62991,-1.80105 -1.63035,-1.99682 -0.007,-2.62007 0.96582,-0.37038 1.75575,-1.34623 1.75575,-2.16825 0,-2.20222 -1.8987,-1.81766 -2.64569,0.53588 -1.08798,3.42811 -6.67604,4.927 -17.44588,4.67959 -8.89527,-0.20459 -10.01411,-0.0146 -11.03523,1.89591 -1.39988,2.61563 -3.53079,2.6869 -7.64642,0.25583 -2.76917,-1.63581 -3.28691,-1.66907 -4.17261,-0.26827 -0.55608,0.87963 -1.01852,1.66245 -1.02753,1.73959 -0.007,0.0769 2.6943,1.51181 6.00737,3.18806 z m -2.80504,35.833272 c 1.77033,0 3.21875,-0.224723 3.21875,-0.49873 0,-1.029512 -4.37833,-2.793194 -5.38674,-2.169933 -2.09488,1.294732 -0.97868,2.668663 2.16799,2.668663 z m 1.92193,-74.812682 c 0.17165,1.63576 -0.43161,4.03656 -1.34114,5.3351 -1.90668,2.72207 -2.1755,6.79893 -0.51606,7.82456 0.62579,0.38664 2.5804,0.10537 4.34364,-0.62479 2.68024,-1.1102 3.1127,-1.78692 2.63706,-4.12678 -0.31294,-1.5394 -0.66787,-5.09227 -0.7889,-7.89526 l -0.2196,-5.09638 -3.82298,0.0754 c -2.26044,0.0444 -3.16517,0.37365 -2.21355,0.80468 0.88514,0.40128 1.74999,2.06767 1.9219,3.70343 z m -0.78567,58.718818 c 0.55528,0 1.00958,-0.48278 1.00958,-1.072942 0,-0.590051 -0.75274,-1.072914 -1.67269,-1.072914 -0.92,0 -1.37435,0.482863 -1.0096,1.072914 0.36453,0.590162 1.11742,1.072942 1.67271,1.072942 z m 11.73876,-59.010708 c 0.59014,0 1.07299,-0.51129 1.07299,-1.13622 0,-0.62493 -0.48285,-0.83783 -1.07299,-0.47308 -0.59009,0.36453 -1.0729,0.876 -1.0729,1.13622 0,0.26023 0.48281,0.47308 1.0729,0.47308 z m 5.93969,8.58341 c 3.14934,0 6.32765,4.35466 5.37314,7.36194 -0.36698,1.15628 -1.85547,2.88091 -3.30769,3.83249 -3.28292,2.15101 -3.39096,5.32501 -0.25583,7.52085 3.59676,2.51927 7.42867,2.02222 11.72747,-1.5212 3.48713,-2.87441 3.94484,-3.87385 4.60744,-10.06092 0.6193,-5.78297 1.2906,-7.44181 4.24437,-10.48832 5.33065,-5.49788 8.99006,-8.25159 11.64651,-8.76384 1.45284,-0.27962 0.78699,-0.52173 -1.68133,-0.60996 -2.40205,-0.0859 -3.82144,0.28327 -3.44315,0.89536 0.35391,0.57281 -0.58309,1.34938 -2.08249,1.7257 -1.4994,0.37649 -2.72621,1.3561 -2.72621,2.17731 0,0.82118 -0.98076,1.49304 -2.17952,1.49304 -1.19874,0 -2.44102,0.84492 -2.76061,1.87765 -0.31951,1.03269 -1.04502,2.74216 -1.61208,3.79886 -0.56697,1.05669 -0.74516,2.38355 -0.39576,2.94865 0.34916,0.56506 -0.11708,2.10128 -1.0366,3.41383 -0.91934,1.31256 -1.67148,3.41128 -1.67148,4.66374 0,2.98621 -3.2823,5.8699 -6.99481,6.14527 -3.85698,0.28584 -4.53916,-1.75143 -1.10947,-3.31399 3.53441,-1.61045 4.46646,-5.66315 2.3008,-10.00441 -1.85459,-3.71761 -1.6776,-4.15584 4.00795,-9.92298 1.3372,-1.35639 1.62255,-2.35457 0.88417,-3.09295 -1.58589,-1.58589 -4.4533,-0.13799 -4.4533,2.24836 0,3.06899 -2.46158,4.55456 -6.28123,3.79063 -2.05212,-0.41047 -3.99547,-0.15482 -4.97,0.65412 -2.09161,1.73588 -1.0875,3.23077 2.17002,3.23077 z m 11.22709,35.40638 c 0.59012,0 1.0729,-0.5113 1.0729,-1.13622 0,-0.62495 -0.48278,-0.83788 -1.0729,-0.47316 -0.59009,0.36489 -1.07291,0.87603 -1.07291,1.13625 0,0.26023 0.48282,0.47313 1.07291,0.47313 z m 10.27044,2.97002 c 0.82986,1.13484 1.434,1.27483 1.94353,0.45044 0.40662,-0.65799 -0.27632,-2.21185 -1.5174,-3.45311 -1.90654,-1.90653 -2.52133,-2.03744 -3.96147,-0.84384 -1.53904,1.27567 -1.50859,1.45121 0.31292,1.80637 1.10991,0.21629 2.55983,1.13443 3.22209,2.04014 z m 4.09923,-23.35548 c 2.2462,0 3.87692,0.61634 4.258,1.60937 0.89737,2.33856 2.83077,1.97216 2.83077,-0.53649 0,-1.35111 -0.7153,-2.14582 -1.93123,-2.14582 -4.49239,0 -5.91043,-4.83421 -2.36047,-8.04694 1.18021,-1.06808 2.14588,-2.4341 2.14588,-3.03553 0,-3.02673 -8.46322,8.19702 -8.55896,11.35067 -0.011,0.4426 1.61378,0.80474 3.61601,0.80474 z m 3.87004,6.97395 c 0.59009,0.3649 1.07291,-0.11791 1.07291,-1.0729 0,-0.95485 -0.48282,-1.43763 -1.07291,-1.07295 -0.59012,0.36453 -1.07297,0.84753 -1.07297,1.07295 0,0.22508 0.48285,0.70823 1.07297,1.0729 z m 4.76482,4.82818 c 0.26022,0 0.77151,-0.48286 1.13619,-1.07294 0.36453,-0.59014 0.15189,-1.07292 -0.47312,-1.07292 -0.62493,0 -1.13626,0.48278 -1.13626,1.07292 0,0.59008 0.21264,1.07294 0.47319,1.07294 z m 2.65461,-25.63972 c 0.66117,-1.04414 2.12116,-1.30876 4.81178,-0.87213 2.12441,0.34478 3.86258,0.22582 3.86258,-0.26387 0,-1.24852 -2.90323,-2.22444 -4.82817,-1.62311 -0.88516,0.27668 -2.33361,0.72905 -3.21877,1.00563 -0.88514,0.2767 -1.60194,1.12144 -1.59294,1.87758 0.011,1.02709 0.2562,0.99568 0.96552,-0.1241 z m 4.0851,33.03979 c 1.60672,1.83102 3.4538,3.32911 4.10469,3.32911 0.65088,0 2.20667,1.08637 3.45727,2.41408 2.69938,2.86588 7.54647,5.40249 14.24853,7.456625 4.58502,1.405309 4.98522,1.363904 6.56565,-0.679459 1.39187,-1.799596 1.96608,-1.941186 3.31885,-0.818439 2.17664,1.806463 5.13401,-0.967837 4.32589,-4.058047 -0.37525,-1.43491 0.28767,-2.87066 1.97312,-4.27483 1.39595,-1.16291 1.9631,-2.13044 1.26028,-2.15007 -0.70281,-0.0219 -1.52659,0.36674 -1.83061,0.85877 -0.30415,0.4919 -2.4735,2.2255 -4.82105,3.85234 -7.62168,5.281812 -15.64387,5.582953 -19.05335,0.71521 -0.75025,-1.07111 -2.80826,-2.5457 -4.5733,-3.2768 -4.57047,-1.89317 -6.9353,-6.06373 -7.00762,-12.35854 -0.0501,-4.33679 -0.43955,-5.41885 -2.06606,-5.73595 -1.1026,-0.2152 -1.71966,0.0702 -1.3713,0.63405 0.47821,0.77377 -0.64191,9.67458 -1.33463,10.605 -0.0645,0.0868 1.19697,1.65601 2.80364,3.48695 z m 3.43043,-16.57305 c 0.54283,0.33524 2.0139,-0.69547 3.26904,-2.29108 1.71496,-2.18026 2.20287,-4.09477 1.9635,-7.70506 -0.43311,-6.53271 -2.47985,-6.84885 -2.7396,-0.42316 -0.12989,3.21136 -0.81414,5.50416 -1.84321,6.17525 -1.82882,1.19266 -2.15364,3.31465 -0.64973,4.24405 z m 8.54076,-26.0713 c 3.08682,3.86426 4.08221,10.99035 2.29265,16.41287 -1.50134,4.54898 -1.09706,5.37045 2.13762,4.34377 1.78977,-0.56802 2.17384,-1.30846 1.68631,-3.25096 -0.87067,-3.46898 0.91417,-4.20039 4.73806,-1.9416 3.08674,1.82338 3.29784,1.82236 5.09856,-0.0219 1.79297,-1.83995 1.77599,-1.9115 -0.3729,-1.57193 -1.2383,0.1958 -3.47016,-0.29609 -4.95975,-1.09355 -2.17897,-1.16605 -2.8355,-2.52297 -3.35894,-6.94281 -0.35793,-3.02142 -0.22581,-5.91825 0.29317,-6.43733 0.87516,-0.87516 6.78199,0.48779 10.89179,2.51316 1.12162,0.55276 2.096,0.17824 2.90444,-1.1162 0.75172,-1.20376 2.00784,-1.74111 3.28742,-1.40651 1.13898,0.29792 2.39528,0.0183 2.79175,-0.62483 0.49329,-0.79823 -1.69003,-1.16641 -6.91623,-1.16641 -4.81818,0 -7.39235,-0.39598 -6.97398,-1.07292 0.40104,-0.64893 -1.0829,-1.07294 -3.75524,-1.07294 -2.67233,0 -4.15628,0.42401 -3.75523,1.07294 0.3761,0.60851 -0.5253,1.07292 -2.0825,1.07292 -1.51011,0 -2.74563,-0.48287 -2.74563,-1.07292 0,-0.59012 -2.05198,-1.00061 -4.5599,-0.91215 -2.89149,0.10179 -3.5785,0.33158 -1.87762,0.62837 1.47525,0.25692 3.8315,1.90627 5.23607,3.6646 z m 1.07774,36.31722 c 0.48054,0 2.99831,1.43966 5.59506,3.19921 2.59676,1.75962 5.3647,3.20804 6.15092,3.2188 0.78626,0.0146 4.72972,-1.42895 8.76321,-3.19929 4.03354,-1.7703 8.47317,-3.21872 9.86591,-3.21872 3.7799,0 6.22792,-3.56115 6.22792,-9.05981 0,-3.79944 -0.4266,-4.87898 -2.14337,-5.42383 -1.17882,-0.37409 -2.41595,-1.97586 -2.74914,-3.55928 -1.24295,-5.90682 -3.04279,-8.80135 -4.7638,-7.66121 -1.403,0.92947 -1.36859,1.20807 0.26827,2.17283 3.03379,1.78798 2.29753,4.21868 -1.27783,4.21868 -1.7355,0 -3.45383,-0.48278 -3.81854,-1.07291 -0.36453,-0.59006 -1.19226,-1.07295 -1.83897,-1.07295 -0.64675,0 -0.37686,0.88296 0.59976,1.9622 0.9766,1.07905 1.77568,2.53673 1.77568,3.23915 0,0.81726 0.94035,1.0411 2.61165,0.62164 1.93874,-0.4866 2.97281,-0.0776 4.0133,1.58896 0.77092,1.23437 2.04011,2.24441 2.82041,2.24441 0.78028,0 1.31419,0.84492 1.1864,1.87762 -0.12769,1.03263 0.14274,2.74333 0.60158,3.80148 1.14669,2.64546 0.63247,2.91729 -5.79377,3.062 -3.66568,0.0828 -5.81157,0.6361 -6.17906,1.59382 -0.75629,1.97081 -4.62512,1.88008 -4.62512,-0.10826 0,-0.95652 -0.62944,-1.33418 -1.60173,-0.9611 -1.0844,0.41614 -1.39341,1.44491 -0.95664,3.18514 0.82404,3.28313 -1.84664,3.48094 -5.73224,0.4245 -1.50039,-1.18013 -3.62852,-2.14577 -4.72913,-2.14577 -1.10065,0 -2.00115,-0.69576 -2.00115,-1.54607 0,-2.00402 -1.82026,-3.10018 -3.85287,-2.32017 -1.25386,0.48113 -1.35157,1.08781 -0.44735,2.77741 0.63635,1.18896 1.55012,2.16174 2.03066,2.16174 z m -0.94924,-8.58333 c 0.59012,0 1.07294,-0.72426 1.07294,-1.60941 0,-0.88516 -0.48282,-1.60938 -1.07294,-1.60938 -0.59009,0 -1.07292,0.72422 -1.07292,1.60938 0,0.88515 0.48283,1.60941 1.07292,1.60941 z m 5.39545,69.505728 c 2.17426,1.09439 3.90448,2.898404 4.25793,4.439526 1.09011,4.753109 10.7997,6.798715 16.74734,3.528314 3.77122,-2.073677 10.07864,-7.249288 10.07864,-8.270187 0,-0.37119 -1.37139,-1.828938 -3.04748,-3.239254 -1.67613,-1.410353 -4.54409,-5.603821 -6.37328,-9.318799 -4.70261,-9.550682 -11.29841,-12.947605 -17.16356,-8.839556 -2.77591,1.944332 -3.04319,3.958026 -0.7752,5.840289 0.88515,0.734582 1.60937,2.199216 1.60937,3.254734 0,2.41551 -5.90133,7.474486 -8.71896,7.474486 -3.05726,0 -1.19223,2.826487 3.3852,5.130447 z m 7.27843,-65.459938 c 0.70077,0.2335 1.27409,-0.33964 1.27409,-1.27409 0,-0.93438 -0.76445,-1.69882 -1.69878,-1.69882 -1.89468,0 -1.56473,2.30974 0.42469,2.97291 z m 11.88564,-0.98075 c 0.64298,1.01475 1.14468,1.09604 1.65627,0.26828 0.84108,-1.36092 -0.10689,-3.33332 -1.60192,-3.33332 -1.24751,0 -1.26794,1.1498 -0.0545,3.06511 z m 6.28699,-34.51313 c 1.03268,-0.27011 0.18775,-0.49066 -1.87762,-0.49066 -2.06536,0 -2.9103,0.2207 -1.87761,0.49066 1.03268,0.2701 2.72255,0.2701 3.75523,0 z m -1.43597,9.91097 c 1.21857,1.0113 2.09919,0.4905 4.50584,-2.66473 1.64517,-2.15697 3.98119,-4.3227 5.19117,-4.81286 1.97951,-0.80179 1.90981,-0.8979 -0.69531,-0.95909 -1.67472,-0.0406 -4.11538,1.06272 -5.78953,2.61424 -1.59182,1.47528 -3.30656,2.68233 -3.8105,2.68233 -1.41625,0 -1.08392,1.74396 0.59833,3.14011 z m 3.48147,39.35253 c 1.6246,0.98084 1.72766,1.46892 0.59765,2.83048 -1.07948,1.30074 -1.09456,2.23977 -0.072,4.48411 l 1.2935,2.838926 1.36873,-3.255286 c 0.75281,-1.79039 1.75417,-3.23917 2.22524,-3.21951 2.01204,0.0835 5.87476,4.35875 5.29759,5.862788 -0.41364,1.077928 0.0424,1.611906 1.3773,1.611906 1.23413,0 2.2528,-1.023755 2.66908,-2.682245 0.51096,-2.035839 1.37943,-2.686279 3.60331,-2.698759 1.61154,-0.007 3.61355,-0.44907 4.44889,-0.97783 1.64828,-1.04329 5.61531,2.30421 9.15754,7.727504 1.85232,2.835962 1.85569,3.076815 0.0707,5.049297 -1.74783,1.93138 -1.75394,2.191861 -0.0901,3.855474 2.10778,2.107868 2.04857,2.152082 4.25908,-3.180354 2.01425,-4.858995 2.0959,-4.699244 -7.06014,-13.798881 -6.64386,-6.60276 -8.72841,-7.4045 -10.52474,-4.04802 -2.19701,4.10519 -5.00567,4.64649 -9.22662,1.77828 -2.11607,-1.43787 -4.55717,-3.62772 -5.42471,-4.8663 -1.60707,-2.29445 -4.10659,-2.81427 -7.41952,-1.543 -1.9817,0.76051 -1.67335,1.13871 3.44944,4.23142 z m 9.49318,-47.86501 c -0.72163,1.16763 3.35139,2.52689 4.83124,1.61227 0.60503,-0.37405 0.82228,-1.12935 0.48275,-1.67866 -0.34001,-0.55016 1.23307,-0.99875 3.50252,-0.99875 3.64829,0 4.26787,0.39227 5.41391,3.42846 1.06357,2.8177 1.00991,3.86232 -0.30121,5.86335 -1.8714,2.85614 -2.0985,7.4373 -0.4201,8.47459 0.64638,0.39963 2.31465,0.11639 3.70728,-0.62873 2.31436,-1.23863 2.50853,-1.95814 2.25892,-8.36992 -0.16799,-4.30847 -0.77273,-7.18133 -1.56813,-7.44645 -0.71223,-0.23753 -1.02208,-0.87326 -0.68847,-1.41298 0.35501,-0.5747 -4.42094,-0.91012 -11.52731,-0.80954 -6.6735,0.0945 -10.55532,0.36712 -8.6263,0.60597 1.92904,0.23862 3.2498,0.851 2.93497,1.36039 z m 0.53329,23.61117 c 1.58801,-0.84983 2.3523,-0.60129 3.59177,1.16832 0.86602,1.2364 2.60518,2.96985 3.86482,3.85215 3.00882,2.10745 5.3029,0.31145 5.17875,-4.05513 -0.10137,-3.57099 -1.90774,-5.55995 -1.90774,-2.10072 0,2.30959 -2.5805,3.03701 -3.79611,1.07009 -1.28613,-2.081 -5.86517,-3.22542 -8.10633,-2.026 -1.15811,0.61982 -1.8214,1.58684 -1.474,2.14889 0.39648,0.64148 1.38261,0.62007 2.64884,-0.0579 z m 3.42986,64.681173 c 4.63559,0.420342 7.53169,0.147134 9.55977,-0.901551 3.33766,-1.725941 9.71896,-9.059748 9.21048,-10.585166 -0.62939,-1.888075 -2.88914,-1.892759 -2.88914,-0.0069 0,2.425004 -8.42961,10.713774 -9.61879,9.458023 -0.49618,-0.523923 -1.07526,-1.912717 -1.2868,-3.086154 -0.59334,-3.290574 -4.11529,-3.466689 -4.11529,-0.206059 0,2.889695 -2.90331,4.693376 -4.68569,2.91092 -1.54247,-1.542443 -2.82477,-1.38254 -2.82477,0.352092 0,1.009912 2.05113,1.646341 6.65023,2.063391 z m 0.022,-74.139923 c 0.7699,-0.7699 0.83324,-1.2696 0.16103,-1.2696 -1.4321,0 -2.70095,1.26883 -1.98489,1.9849 0.30487,0.30523 1.12568,-0.0183 1.82395,-0.7153 z m 6.20495,64.178624 c 0.59009,0 1.07291,-0.213001 1.07291,-0.473152 0,-0.26059 -0.48282,-0.771552 -1.07291,-1.13626 -0.59008,-0.36453 -1.07294,-0.151515 -1.07294,0.473151 0,0.624969 0.48286,1.136261 1.07294,1.136261 z m 6.43178,-5.897529 c 0.5869,-0.362698 1.51871,-1.503284 2.07064,-2.534504 0.75105,-1.403436 0.48267,-2.200195 -1.0672,-3.168137 -1.90024,-1.186688 -2.07061,-0.97819 -2.07061,2.534573 0,2.264684 0.43576,3.558286 1.06717,3.168068 z m 9.66201,-69.207005 c 0.5901,0 1.07299,-0.213 1.07299,-0.47311 0,-0.26023 -0.48289,-0.77151 -1.07299,-1.13623 -0.59009,-0.36489 -1.0729,-0.15151 -1.0729,0.47308 0,0.62497 0.48281,1.13626 1.0729,1.13626 z m 2.34331,35.96825 c 1.95682,0.41991 4.04056,1.0567 4.63068,1.41518 0.59017,0.35832 1.91788,0.51273 2.95056,0.34295 1.5816,-0.26023 1.87762,0.54737 1.87762,5.12315 0,3.2561 -0.4758,5.43207 -1.18776,5.43207 -0.65322,0 -0.91571,0.70878 -0.58328,1.57502 0.77978,2.03205 -0.8871,3.039194 -3.60316,2.17717 -1.437,-0.45607 -2.13627,-1.62467 -2.13627,-3.57007 0,-1.97007 -0.76961,-3.22967 -2.41405,-3.95118 -1.79087,-0.78564 -2.50162,-2.12383 -2.75314,-5.18337 l -0.33927,-4.1242 z m 6.95536,-12.7216 c 1.23457,-1.23454 2.5035,-0.78136 2.5035,0.89412 0,0.88512 -0.72422,1.60934 -1.60939,1.60934 -1.67547,0 -2.12867,-1.26893 -0.89411,-2.50346 z"
         style="fill:#7f9dd3;fill-opacity:1;stroke-width:1.07292" />
      <text
         id="text36-8"
         y="-20.734781"
         x="-449.6571"
         style="font-style:normal;font-weight:normal;font-size:20.6434px;line-height:1;font-family:sans-serif;fill:#850037;fill-opacity:1;stroke:none;stroke-width:0.322554"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:20.6434px;font-family:'SURROUNDED large';-inkscape-font-specification:'SURROUNDED large';text-align:center;text-anchor:middle;fill:#850037;fill-opacity:1;stroke-width:0.322554"
           y="-20.734781"
           x="-449.6571"
           id="tspan34-4">HOT YOGA WORKS</tspan><tspan
           id="tspan38-3"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:15.4826px;font-family:'SURROUNDED large';-inkscape-font-specification:'SURROUNDED large';text-align:center;text-anchor:middle;fill:#850037;fill-opacity:1;stroke-width:0.322554"
           y="-0.091381073"
           x="-449.6571">BRITOMART</tspan></text>
    </g>
  </g>
</svg>

</template>

<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
