<template>
  <div>
  <div class="nav">

    <b-navbar class="fixed-top" toggleable="lg" type="light" variant="light">


    <b-navbar-brand nuxt-link to="/">
          Hot Yoga Works
        </a>
        </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item nuxt-link to="/membership">Membership</b-nav-item>
        <b-nav-item nuxt-link to="/class-schedule">Class Schedule</b-nav-item>
	<b-nav-item nuxt-link to="/teachers">Teachers</b-nav-item>
        <b-nav-item nuxt-link to="/events">Events</b-nav-item>
	<b-nav-item nuxt-link to="/newmembers">New Members</b-nav-item>
  	<b-nav-item nuxt-link to="/parking">Parking</b-nav-item>

 </b-navbar-nav>
    </b-collapse>
  </b-navbar> 

</nav></div>
    <div>
    <table style="table-layout:fixed; width:480px">
    <Nuxt />
  
</table>
  </div>
  <footer class="footer">
        <div class="container">
            <span><a href="tel:093089642">(09) 308 9642</a>  · <a href="https://osm.org/go/uuVhan4bu?m=&node=5400477405">13 Commerce Street, Auckland City 1010</a> · ﻿<a href="mailto:info@hotyogaworks.nz">info@hotyogaworks.nz</a>
            <br>&copy; Hot Yoga Works 2020. </span>
        </div>
    </footer>
</div>
</template>


<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 150px;
  text-align: justify;
  text-justify: inter-word;
   
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f2f2f2;
   color: black;
   text-align: center;
}

h3 {
  text-align: center;
}
</style>

