<template>
<div>
	<h3>About</h3>
	<br>
       Hot Yoga is a series of twenty-six Hatha Yoga postures and two Pranayama breathing techniques designed to provide a challenging, invigorating, rejuvenating and effective yoga experience. You will work every muscle, tendon, ligament, joint and internal organ in the entire body, giving you an incredible sense of well being.
	<br>       
Our purpose-built studio has a sophisticated temperature controlled heating system to keep the room at 40oC, with fresh air circulation and is set at a consistent heat to give you the best possible workout.
	<br>
Designed as a theraeputic yoga series to help people recover from injury and to help get your body back to it's natural range of motion. You are never to young or too old to learn yoga.
        </p>
	<br>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fhotyogaworksbritomart%2Fphotos%2Fa.455859167786901%2F3481342645238523%2F%3Ftype%3D3&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
       <br>
       </div>
	
	</template>
