<template>
  <form>
  <div class="form-group">
    <label for="blogdir">blog dir</label>
    <input type="text" class="form-control" id="blogdir" aria-describedby="emailHelp" placeholder="Enter blog dir">
 
    <label for="postname">Post name</label>
    <input type="text" class="form-control" id="postname" placeholder="Post name">
 
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</template>
