<template>
<div>
<h3>Classes</h3> 
<br>
<img src="~/assets/90min.jpeg" />

<br>
<h4>Hot Yoga Beginners 90 minutes/60 minutes</h4>
<br>
Traditional 90 minutes or an Express 60 minutes Beginners Hot Yoga Class uses 26 postures, 2 breathing exercises method in a room heated up to 40 degrees. The deep stretching combined with the heat helps to increase flexibility, and holding each pose improves balance. Hot yoga is great for injury rehabilitation, great skin, toning up the body, relieving stress, anxiety and depression, improving athletic performance, building muscle, relieving back pain and alleviating arthritis symptoms. 
<br>
<img src="~/assets/pilates.png" />

<br>
<h4>Hot HIIT Pilates</h4>
<br>
Using pilates principles, Hot HIIT Pilates is a challenging full body workout that is low impact and high intensity. It is performed on a yoga mat in a room heated to approximately 35 degrees. Hot Pilates can fast track strengthening muscles and burning fat - all without the pounding of a high impact workout. It is designed for all fitness levels. Classes are 60 minutes which can be easily fitted in today’s busy schedules. Fast track your fitness and get ripped quick!
<br>
<img src="~/assets/yin.jpeg" />

<br>
<h4>Yin Yoga and Nidra</h4>
<br>
Yin yoga helps to stretch and target the deep connective tissues between the muscles throughout the body. The aim is to increase circulation in the joints and improve flexibility as the poses stretch the bone joint areas. A class usually consists of a series of long-held passive floor poses which are held for up to five minutes or longer. Perfect way to refresh at the end of a long week. Yoga Nidra allows the body to deeply relax and improve the functioning of the nervus system and endocrine system. 
<br>
<img src="~/assets/dance.jpg" />

<br>
<h4>Hot Dance with Kauan Gracie</h4>
<br>
Get the dancer’s body you’ve always wanted; tone your muscles, lean and lengthen without the bulk. The heat is a wonderful bonus to dance; increasing heart rate and therefore the workout. Kauan Gracie has been a mover and an athlete all her life. Born in Rio de Janeiro, Brazil, she has worked with Brazil‘s top world famous samba choreographer Carlihos de Jesus and now she is sharing her passion and energy for dance with us! These feel-good classes are designed to get you moving and fit, while having lots of fun and getting toned. Bust out your best salsa moves next time you want to impress the crowd. No experience required, just a desire to move, be fit and have fun.
<br>
<br>
<h4>Meditation with David Maxwell</h4>
<br>
Be with the breath - close your eyes, take all the time you need....just pure relaxation. Be calm, be still - use your mind to follow your breath. Just be still - let your breath and energy heal you totally. 
<br>
Meditation has a host of health benefits that come from a peaceful mind. Increase your memory power, have greater efficiency at work with thought power tremendously increased, enjoy more fulfilling relationships, fall asleep faster and gain deeper understanding of your life purpose.
</div>
</template>
