<template>
<div>
<h3>Class Schedule</h3>
<br>

<script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>

<healcode-widget data-type="schedules" data-widget-partner="object" data-widget-id="a61438627b50" data-widget-version="1" ></healcode-widget>
</div>
</template>
