<template>
<div>
<h3>Namaste</h3>
  Hot Yoga Works is a dedicated space devoted to Hot Yoga. We teach the Hot Yoga (Bikram Method Classic series), A 60-minute Hot Yoga Sequence, Yin Yoga, Inferno Pilates, An Intermediate and Advanced Yoga practice and Hot Dance. We offer regular workshops and seminars covering Well-being, Yoga and holistic health. Our space is a sanctuary amongst the hustle and bustle of Auckland City.
<br>
Hot Yoga is a series of twenty-six Hatha Yoga postures and two Pranayama breathing techniques designed to provide a challenging, invigorating, rejuvenating and effective yoga experience. You will work every muscle, tendon, ligament, joint and internal organ in the entire body, giving you an incredible sense of well-being.
<br>
Our purpose-built studio has a sophisticated temperature controlled heating system to keep the room at 40oC, with fresh air circulation and is set at a consistent heat to give you the best possible workout. The heat fast tracks all the benefits of your practice. Increasing strength and flexibility. 
<br>
Designed as a therapeutic yoga series to help people recover from injury and to help get your body back to its natural range of motion. You are never too young or too old to learn yoga.
<br>
<br>
Yoga Benefits:
<br>
<ul type="disc">
<li>Weight Loss: A 90 minute Hot Yoga and Hot HIIT Pilates sessions burn up to 4,000 kj (1000 calories) and turns fat into muscle. Combined with a healthy diet, Hot yoga can help you achieve your weight loss goals and maintain a healthy weight.</li>

<li>Great Skin: Get the Hot Yoga glow. As you sweat your pores open, the detoxification process of sweating removes impurities leaving your skin softer and clearer.</li>

<li>Tone Up: Poses in Hot yoga use your core muscles including abdominals, arms, legs, glutes to support your body weight in ways that encourage you to build muscle. With Hot yoga you get a full body workout that tones and sculpts muscle.</li>

<li>Back Pain: The Hot Yoga poses are designed to work the spine, improving core strength and flexibility as a treatment for back pain.</li>

<li>Arthritis: A combination of the heat and poses that move, compress, twist and extend the joints can alleviate arthritis symptoms.</li>

<li>Injury Rehabilitation: Hot yoga is restorative helping to heal old injuries and prevent future ones. Holding poses for more than 72 seconds has an amazing ability to restore and rebuild connective tissue and the skeleton.</li>

<li>Stress, Anxiety, Depression: Hot yoga improves the nervous and endocrine systems, which are involved in hormone production. Practicing yoga also improves mental concentration, patience and self control which helps us to balance our emotions.</li>

<li>Improve Performance: As an athlete, to stay active and engaged in your sport you need corrective modalities to amend muscular imbalances, prevent overuse injuries and ensure longevity.  Hot yoga offers one of the most dynamic returns on investment, assisting with recovery from high-intensity training.</li>

<li>Muscle Building: Hot Yoga widens range of motion and increases access to more muscle fibres, allowing for more greater muscle growth in any given muscle group. So if you are wanting to build muscle at the gym, Hot Yoga will help you achieve greater muscle mass.</li>
</ul>
</div>
</template>

