<template>
<div>
<h3>Membership</h3>
Our weekly membership gives you access to all our Hot Yoga, Hot HIIT Pilates, Hot Dance and Meditation classes. Once you sign up that’s it! 
<br>
To make a booking simply sign in and pick your class, or book in person at the studio 15 minutes before class - we’ll do the rest.

<br>
<br>

<script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script><healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="79184" data-mb-site-id="32353" data-type="contract-link" data-inner-html="Unlimited Hot Yoga & Hot HITT Pilates" data-service-id="116" />
<br>
$40 pw
<br>
Attend unlimited classes. Receive 50% off the first 4 weeks. Minimum 12 weeks.
<br>
<br>
<script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script><healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="79184" data-mb-site-id="32353" data-type="contract-link" data-inner-html="Unlimited Hot Yoga & Hot HITT Pilates include towels/mat" data-service-id="119" /><br>
$50 pw
<br>
Attend unlimited classes. Recieve two towels and a mat every time you practice. Receive 50% off the first 4 weeks. Minimum 12 weeks.
<br>
<br>
<script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script><healcode-widget data-version="0.2" data-link-class="healcode-pricing-option-text-link" data-site-id="79184" data-mb-site-id="32353" data-type="pricing-link" data-inner-html="New Member - Intro Pack" data-service-id="2215" />
<br>
$49
<br>
New Members only. 14 Days Unlimited Hot Yoga, Hot HIIT Pilates, Hot Dance & Meditation. 
<br>
<br>
<a href="https://clients.mindbodyonline.com/classic/ws?studioid=32353&stype=43&prodid=2010
">Casual Class</a>
<br>
$30
<br>
Attend one class.
</div>
</template>
