<template>
<div>
<h3>New Members</h3>

Need to know: 
<br>
<br>
<ul type="disc">
    <li>Buy our 14 day unlimited class pack for $49.</li>
    <li>Arrive 20 minutes before your first class. </li>
    
<li>Mens and womens changing rooms with showers and lockers available.</li>

We recommend practising 3 times a week for best results.</li>
Try classes with different teachers.</li>
<li>Stay hydrated. </li>
<li>Mats and towels available to hire, or bring your own.</li>
<li>Wear clothes that you are comfortable to stretch and sweat in.</li> 
<li>Parking options are available.</li>
<li>Location of the studio is 13 Commerce Street,
Auckland City.</li>
</ul>
<iframe width="480" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=174.76572543382647%2C-36.846579288660024%2C174.76926594972613%2C-36.84478915175573&amp;layer=mapnik&amp;marker=-36.84568422544676%2C174.76749569177628" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-36.84568&amp;mlon=174.76750#map=19/-36.84568/174.76750">View Larger Map</a></small>
</div>
</template>
