<template>
<div>
<h4>Parking</h4>
<br>
The Chancery Car Park - 8 Bacons Lane, Auckland CBD
<br>
Monday to Friday 5PM to 11:45PM for $4.00. Weekends from 7AM until 9PM for $4.00 for the whole day.
<br>
To book visit Secure Parking’s Secure a Spot service and use Promo Code: YOGA1.
<br>
<iframe width="480" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=174.7668358683586%2C-36.84867846055967%2C174.76889044046405%2C-36.84739277827071&amp;layer=mapnik&amp;marker=-36.84803562211773%2C174.76786315441132" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-36.84804&amp;mlon=174.76786#map=19/-36.84804/174.76786">View Larger Map</a></small>
<br>
Downtown Carpark - 31 Custom Street West, Auckland City
<br>
No need to book, you can park there and buy a $4.00 ticket at the studio for 2 hours parking. Limited to one ticket per class. 
<br>
<iframe width="480" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=174.76249873638156%2C-36.84542665135762%2C174.76660788059237%2C-36.8428551557976&amp;layer=mapnik&amp;marker=-36.84414091438731%2C174.76455330848694" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-36.84414&amp;mlon=174.76455#map=18/-36.84414/174.76455">View Larger Map</a></small>
</div>
</template>
