<template>
<div>
<h3>Teachers</h3>

<h4>Founder of Hot Yoga Works Britomart - Rebeckh Burns</h4>
<br>
  <img src="~/assets/bek.jpg" />
<br>
Rebeckh is the founder of Hot Yoga Works in Auckland. Rebeckh has been teaching Yoga for over 20 years and most recently has added Yoga Barre and Hot HIIT Pilates to her extensive repertoire and experience. Rebeckh has authored a best-selling book on Meditation in her 20s, published by Harper Collins Australia, has studied Naturopathy and Metaphysics. Rebeckh is devoted from her heart to helping people to heal, empower and experience true health and wellbeing through practical techniques of Yoga and beyond with her expert guidance.
<br>
<h4>Studio Manager - Michal Wolkonski</h4>
<br>  <img src="~/assets/michal.jpg" />
<br>
From 2010 I have practised Hot Yoga method, gaining my teacher's qualification in Thailand in 2014. Since then I have been teaching hot yoga in the UK, Indonesia and Thailand to name but a few! Recently moved up from Invercargill, I am the Hot Yoga Works studio manager and daily hot yoga teacher.
<br>
<h4>Kauan Gracie</h4><br>
  <img src="~/assets/kauan.jpg" />
<br>
I was born in Rio de Janeiro, Brazil, and have been a mover and athlete for most of my life. I have practiced my family’s martial art Gracie Jiu-Jitsu for as long as I can remember. I have participated in swimming and various other sports before finding a passion in dance. After graduating from Chapman University in Orange County, I moved to Italy to pursue dance before finally settling into a teaching career. Since then, I have taught languages, dance, fitness, female self-defense, kids Jiu-Jitsu, Flexionamento and movement in five different continents. Today I work as a choreographer, teaching workshops and consulting in several of my specialties across the world.
<br>
<h4>Eleanor Xu</h4><br>
  <img src="~/assets/eleanor.jpg" />
<br>
I stumbled into yoga in my late 20s at the time when I was a stressed out Engineer working up to 14 hours. During my introductory period, I felt and knew this was "it"... what my mind and body was craving for. Eventually I went for teacher training in the Fall of 2008. Have been teaching since. My daily practice is Key to the understanding of the Bikram Yoga ...and myself.
<br><br>
<h4>Gary Walker</h4>
<br>  <img src="~/assets/gary.jpg" />
<br>
Gary is a lifelong teacher and motivational coach. After teaching a number of different exercise classes, HITT Pilates has been his passion for the past year. Classes are always fun, friendly, motivational and will help challenge and support your fitness and physical goals.
With a background in Psychology, NLP and sustainability - the power of the mind determines our reality.
Come join in fun and fitness!
<br><br>
<h4>David Maxwell</h4>
<br>  <img src="~/assets/david.jpg" />
<br>
Having practised yoga for 7 years and gaining his teacher’s qualification in 2014 at the Raddison in Los Angeles, David teaches hot yoga and leads our free Meditation classes every Wednesday. He loves bearing witness to the self improvement of others.
<br>
<h4>Jane Strickland</h4>
<br><img src="~/assets/jane.jpeg" />
<br>
Meet Jane! Auckland born with a passion for mind and body awareness through dance and fitness. Jane’s career has predominantly taken her around the world as a professional dancer/singer and choreographer. Since graduating in Australia in 2007 Jane has performed in Music Theatre shows such as The King & I, Shout! The Mod Musical, Pleasuredome The Musical, City of 100 Lovers and Cats The Musical. Jane was a principal singer/dancer for Norwegian Cruise Line for 2 years before joining New Zealand’s leading commercial dance company Momentum Productions as their talent manager/choreographer and core dancer.
<br>
Having understood the benefits of health and wellbeing for dancers Jane chose to upskill as a fitness instructor enabling her to continue to share her knowledge whilst integrating it through fitness. Jane has taught Barre for 6 years including at one of London’s top Barre studio’s and has recently trained as a Hot HIIT Pilates instructor. 
<br>
Jane prides herself in being able to cater her classes to every BODY and her bubbly personality will keep a smile on your dial throughout your workout at Hot Yoga Works!
<h4>Debbie Going</h4>
<br><img src="~/assets/debbie.jpg" />
<br>
I love any full on workout, you know those workouts when you walk out going "Hell Yeah totally smashed it out!!” It’s one of the reasons I love Hot HIIT. I’m a lover of having a ‘lol’ everyday, not taking myself too seriously and just having fun.
<br>
Though fitness is my part time work, it's one of my full time lifestyle balance and passions. From completing Pilates courses, ZUU, L1 L2 primal movement training, I was also previously a Spin instructor. Fitness has always been a part of my life.
<br>
Love the life you live!
</div>
</template>
